@media (min-width: 1551px) {
    body {
        padding-top: 90px;
    }
}

@media (max-width: 767px) {
    body {
        padding-top: 90px;

    }
}

@media (max-width: 1193px) {
    body {
        padding-top: 220px;
    }
}

@media (max-width: 1550px) {
    body {
        padding-top: 150px;
    }
}

.bottom-aligned {
    display: inline;
    vertical-align: bottom;
    float: none;
}

.horizontal-padding {
    padding-top: 5px;
    padding-bottom: 5px;
}

.no-padding {
    padding: 0;
}

.opac-list {
    list-style-type: none;
    padding-left: 0;
}

.opac-list li:before {
    content: "- ";
}