@font-face {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/PublicSans-Bold.woff2") format('woff2');
}

@font-face {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/PublicSans-Regular.woff2") format('woff2');
}

body {
    font-family: 'Public Sans', sans-serif;
}

#menubar {
    background-color: #7a7d82;
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: #a1c94b;
}

.dropdown-menu {
    background-color: #97e21c;
}

.dropdown-item.nav-link {
    color: black!important;
}

.dropdown-item.nav-link:active,
.dropdown-item.nav-link.active {
    color: black!important;
    background-color: #797c81 !important;
}

#content {
    margin-top: 2.5em;
}

#opening-notice {
    text-align: center;
    border: solid 0.25em #a1c94b;
    padding: 1em;
}

#corona-link {
    cursor: pointer;
}

#corona-link a {
    text-decoration: none;
    color: black;
}

#book-carousel-header {
    margin-top: 2em;
}

.post-it-framework {
    position: absolute;
    top: -3.5em;
    left: 3em;
    border: solid 1px black;
    padding: 2px;
    height: 10em;
    width: 8.5em;
    background: #97e21c;
    transform: rotate(-12.5deg);
}

.post-it-framework > .post-it {
    position: fixed;
    top: 2.5%;
    left: -4%;
    border: solid 1px black;
    padding: 2px;
    height: 12em;
    width: 11em;
    background: #97e21c;
    transform: rotate(3deg);
    font-weight: lighter;
    font-size: smaller;
    text-align: center;
}

.eye-catcher {
    font-size: xx-large;
    display: block;
}

@media (max-width: 1120px) {
    .post-it-framework {
        display: none!important;
    }
}

/*@media (min-width: 781px) {*/
/*    body {*/
/*        padding-top: 165px;*/
/*        margin-bottom: 40px;*/
/*    }*/
/*}*/

/*@media (max-width: 780px) {*/
/*    body {*/
/*        padding-top: 205px;*/
/*        margin-bottom: 40px;*/
/*    }*/
/*}*/

/*@media (max-width: 767px) {*/
/*    body {*/
/*        padding-top: 125px;*/
/*        margin-bottom: 40px;*/
/*    }*/
/*}*/

/*@media (max-width: 588px) {*/
/*    body {*/
/*        padding-top: 175px;*/
/*        margin-bottom: 40px;*/
/*    }*/
/*}*/

/*.bottom-aligned {*/
/*    display: inline;*/
/*    vertical-align: bottom;*/
/*    float: none;*/
/*}*/

/*.horizontal-padding {*/
/*    padding-top: 5px;*/
/*    padding-bottom: 5px;*/
/*}*/

/*.no-padding {*/
/*    padding: 0;*/
/*}*/

/*.opac-list {*/
/*    list-style-type: none;*/
/*    padding-left: 0;*/
/*}*/

/*.opac-list li:before {*/
/*    content: "- ";*/
/*}*/

/*ol.toc-list {*/
/*    counter-reset: item;*/
/*    -webkit-padding-start: 20px;*/
/*    padding-left: 20px;*/
/*}*/

/*ol.toc-list li {*/
/*    display: block*/
/*}*/

/*ol.toc-list li:before {*/
/*    content: counters(item, ".")" ";*/
/*    counter-increment: item*/
/*}*/

/*#site-footer > .navbar {*/
/*    min-height: 40px;*/
/*    height: 40px;*/
/*}*/