/* latin-ext */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(../fonts/Raleway_latin-ext_400.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(../fonts/Raleway_latin_400.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url(../fonts/Raleway_latin-ext_700.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url(../fonts/Raleway_latin_700.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media (max-width: 900px) {
    body {
        padding-top: 225px;
        margin-bottom: 40px;
    }
}

@media (min-width: 901px) {
    body {
        padding-top: 185px;
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    body {
        padding-top: 145px;
        margin-bottom: 40px;
    }
}

.bottom-aligned {
    display: inline;
    vertical-align: bottom;
    float: none;
}

.horizontal-padding {
    padding-top: 5px;
    padding-bottom: 5px;
}

.no-padding {
    padding: 0;
}

.opac-list {
    list-style-type: none;
    padding-left: 0;
}

.opac-list li:before {
    content: "- ";
}

ol.toc-list {
    counter-reset: item;
    -webkit-padding-start: 20px;
    padding-left: 20px;
}

ol.toc-list li {
    display: block
}

ol.toc-list li:before {
    content: counters(item, ".")" ";
    counter-increment: item
}

#site-footer > .navbar {
    min-height: 40px;
    height: 40px;
}