<div id="nav-header" class="text-center">
    <a href="index.html">
        <img class="img-responsive" src="images/library_logo.jpg" style="max-height: 110px">
    </a>
</div>
<nav id="menubar" class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
    <div class="container-fluid">
        <div>
            <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#mainNavigation" aria-expanded="false">
                <span class="float-start navbar-toggler-icon"></span>
                <div>&Ouml;ffnungszeiten: Mi. &amp; Fr. 16:00 - 18:00 Uhr So. 10:30 - 12:00 Uhr</div>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="mainNavigation">
            <div class="post-it-framework">
                <div class="post-it">
                    <p>&Ouml;ffnungszeiten</p>
                    <p>
                        Mi. 16:00 - 18:00 Uhr<br />
                        Fr. 16:00 - 18:00 Uhr<br />
                        So. 10:30 - 12:00 Uhr<br />
                    </p>
                    <p id="corona-link" class="fw-bold"><a href="corona.html">Corona Schutzma&szlig;nahmen</a></p>
                </div>
            </div>
            <ul id="navigation" class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
                <li id="library" class="nav-item dropdown ms-3 me-3">
                    <a class="nav-link dropdown-toggle" href="#" id="libraryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        B&uuml;cherei
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="libraryDropdown">
                        <li><a class="dropdown-item nav-link" href="gallery.html">Galerie</a></li>
                        <li><a id="terms" class="dropdown-item nav-link" href="terms.html">Ausleihbedingungen</a></li>
                        <li><a id="about" class="dropdown-item nav-link" href="about.html">Wir &uuml;ber uns</a></li>
                    </ul>
                </li>
                <li id="events" class="nav-item dropdown ms-3 me-3">
                    <a class="nav-link dropdown-toggle" href="#" id="eventsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Veranstaltungen
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="eventsDropdown">
                        <li><a id="school" class="dropdown-item nav-link" href="school.html">Service f&uuml;r Kindergarten und Schule</a></li>
                        <li><a id="firstreader" class="dropdown-item nav-link" href="firstreader.html">Lesestart 123</a></li>
                        <li><a id="antolin" class="dropdown-item nav-link" href="antolin.html">Antolin</a></li>
                        <li><a id="fleamarket" class="dropdown-item nav-link" href="fleamarket.html">B&uuml;cherflohmarkt</a></li>
                        <li><a id="senses" class="dropdown-item nav-link" href="senses.html">Literatur f&uuml;r alle Sinne</a></li>
                    </ul>
                </li>
                <li id="media" class="nav-item dropdown ms-3 me-3">
                    <a class="nav-link" href="https://www.eopac.net/BGX408891" target="_blank">Medien<br />B&uuml;cherei</a>
                </li>
                <li id="Onleihe" class="nav-item dropdown ms-3 me-3">
                    <a class="nav-link" href="http://www2.onleihe.de/libell-e-sued/frontend/login,0-0-0-800-0-0-0-0-0-0-0.html?libraryId=1543" target="_blank">Onleihe<br />Libell-e</a>
                </li>
                <li class="nav-item dropdown ms-3 me-3"><a id="association" class="nav-link" href="association.html">F&ouml;rderverein</a></li>
                <li id="contact" class="nav-item dropdown ms-3 me-3">
                    <a class="nav-link dropdown-toggle" href="#" id="contactDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Kontakt
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="contactDropdown">
                        <li id="openings"><a class="dropdown-item nav-link" href="openings.html">Kontakt</a></li>
                        <li id="impressum"><a class="dropdown-item nav-link" href="impressum.html">Impressum</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>